<* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #FCFCFA;
}
/* 中间版心板块的内容 */
.warp {
	margin: 0 auto;
	height: 940px;
	width: 1200px;
	/*border: 1px solid red;*/
}

/* 板块左边的内容 */
.warp_left {
	float: left;
	height: auto;
	width: 240px;
	/*border: 1px solid red;*/
}

/* 板块左边的标题 */
.warp_left h2 {
	position: relative;
	width: 240px;
	height: 150px;
	text-align: center;
	/*background: ##E0C1A6;*/
}

/* 板块左边的标题的背景 */
.warp_left h2 i {
	display: block;
	height: 100%;
	width: 100%;
	background: url(../../img/zhangxin/保险简介/health-intor-nav.jpg) no-repeat;
}

/* 板块左边的标题的标题 */
.warp_left h2 .war_left_title {
	position: absolute;
	top: 35px;
	left: 35px;
}

.war_left_title p:first-child {
	font-size: 34px;
	color: #FFFFFF;
}

.war_left_title p:last-child {
	font-size: 24px;
	color: #EFE0D3;
}

/* 板块左边的列表 */
.warp_left ul {
	width: 100%;
	height: auto;
	text-align: center;
}

.warp_left li {
	height: 60px;
	width: 100%;
	margin: 5px 0;
	font-size: 16px;
	line-height: 60px;
	background: #FFFFFF;
}

.warp_left li:hover a{
	color: #89C819;
}

.li_b {
	color: #727272;
}

.li_a {
	color: #FFFFFF;
}

.warp_left li:first-child {
	background: #E3C6AD;
}


/* 板块右边的内容 */
.warp_right {
	/*border: 1px solid red;*/
	float: left;
	height: auto;
	width: 900px;
	margin-top: 15px;
	margin-left: 60px;
}

.warp_right_title {
	height: 10px;
	width: 100%;
	padding: 20px 0;
	border-bottom: 1px solid #E3E3E3;
}
.warp_right_title span:first-child {
	font-size: 14px;
	color: #a2a2a2;
}

.warp_right_title a:hover {
	color: #3AB1FF;
}

.warp_right_title span:last-child {
	color: #E0C1A6;
}


/* 右边下面的标题 */
.w_r_title {
	height: 95px;
	width: 100%;
	font-size: 34px;
	text-align: center;
	line-height: 125px;
	color: #e0c1a6;
	border-bottom: 1px solid #E3E3E3;
}

/* 右边下面的时间 */
.w_r_time {
	height: 42px;
	width: 100%;
	font-size: 14px;
	color: #878787;
	line-height: 42px;
	text-align: center;
	border-bottom: 1px solid #E3E3E3;
}

.w_r_time span {
	margin-right: 35px;
}

/* 右边下面的简介 */
.w_r_cont {
	border-bottom: 1px solid #e0c1a6;
}

.w_r_cont_intor {
	height: 500px;
	width: 780px;
	margin-top: 45px;
	margin-left: 65px;
	
	font-size: 16px;
	color: #909090;
}
.w_r_cont_intor span {
	line-height: 44px;
}

/* 分页 */
.page {
	height: 80px;
	width: 100%;
}

.page span:first-child {
	color: #DDBC9A;
}

.page_left {
	float: left;
	display: block;
	line-height: 80px;
}

.page_right {
	float: right;
	display: block;
	line-height: 80px;
}

.page_left:hover, .page_right:hover {
	cursor: pointer;
	color: #FF0000;
}
