@charset "UTF-8";

/* 中间内容 */

.warp {
	margin: 0 auto;
	width: 1200px;
	height: 1658px;
}


/* 中间左边 */

.warp_left {
	float: left;
	width: 240px;
	height: 100%;
}

.warp_left li {
	margin-top: 4px;
	width: 100%;
	height: 60px;
	font-size: 16px;
	line-height: 60px;
	text-align: center;
	background: #fff;
}

.warp_left li:hover a {
	color: #e0c1a6;
}

.warp_left li:first-child {
	position: relative;
	margin-top: 0;
	height: 150px;
	background: #e0c1a6;
}

.warp_left img {
	position: absolute;
	top: 48px;
	left: 140px;
}

.warp_left p:first-child {
	padding-top: 35px;
	font-size: 34px;
	color: #fff;
}

.warp_left p {
	line-height: 40px;
	font-size: 24px;
	color: rgba(255, 255, 255, 0.48);
}

.warp_left a {
	display: block;
	width: 100%;
	height: 100%;
	color: #727272;
}

.warp_left li:nth-child(4) {
	color: #fff;
	background: #e0c1a6;
}


/* 中间右边 */

.warp_right {
	float: right;
	width: 900px;
	height: 100%;
}


/* 第一行 */

.warp_right_currentLoc {
	width: 100%;
	height: 68px;
	border-bottom: 1px solid #e3e3e3;
	font-size: 14px;
}

.warp_right_currentLoc a {
	color: #a2a2a2;
}

.warp_right_currentLoc a:hover {
	color: #e0c1a6;
}

.warp_right_currentLoc a:last-child {
	cursor: text;
	color: #e0c1a6;
}

.w_r_c_box {
	padding-top: 35px;
}


/* 第二行*/

.warp_right_loge {
	width: 100%;
	height: 94px;
	border-bottom: 1px solid #e0c1a6;
}

.warp_right_loge b {
	display: block;
	line-height: 94px;
	font-size: 34px;
	color: #e0c1a6;
	text-align: center;
}


/* 第三行 */

.warp_right_info {
	line-height: 42px;
	width: 100%;
	height: 42px;
	border-bottom: 1px solid #e0c1a6;
	font-size: 14px;
	text-align: center;
	color: #878787;
}

.warp_right_info a {
	color: #878787;
}

.warp_right_info a:hover {
	color: #e0c1a6;
}


/* 第四行 */

.warp_right_content {
	margin: 0 auto;
	width: 818px;
	height: 1452px;
}

.warp_right_content span {
	display: block;
	margin: 62px 0;
	line-height: 40px;
	font-size: 16px;
	color: #909090;
}
.warp_right_content ul{
	width: 100%;
	height: 361px;
}
.warp_right_content ul:last-child{
	margin-top: 64px;
}

.warp_right_content li:first-child {
	float: left;
}

.warp_right_content li:last-child {
	float: right;
}

.warp_right_content p{
	margin: 25px 0 0 30px;
	font-size: 16px;
}

.warp_right_content li p{
	margin: 40px 0;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: #909090;
}