	@charset "UTF-8";
	/* 中间内容 */
	
	.warp {
		margin: 0 auto;
		width: 1200px;
		height: 864px;
	}
	/* 第一行 */
	
	.warp_currentLoc {
		width: 100%;
		height: 68px;
		border-bottom: 1px solid #e3e3e3;
		font-size: 14px;
	}
	
	.warp_currentLoc a {
		color: #a2a2a2;
	}
	
	.warp_currentLoc a:hover {
		color: #e0c1a6;
	}
	
	.warp_currentLoc a:last-child {
		cursor: text;
		color: #e0c1a6;
	}
	
	.warp_currentLoc_box {
		padding-top: 35px;
	}
	/* 第二行*/
	
	.warp_loge {
		width: 100%;
		height: 94px;
		border-bottom: 1px solid #e0c1a6;
	}
	
	.warp_loge b {
		display: block;
		line-height: 94px;
		font-size: 34px;
		color: #e0c1a6;
		text-align: center;
	}
	/* 第三行 */
	
	.warp_info {
		line-height: 42px;
		width: 100%;
		height: 42px;
		border-bottom: 1px solid #e0c1a6;
		font-size: 14px;
		text-align: center;
		color: #878787;
	}
	
	.warp_info a {
		color: #878787;
	}
	
	.warp_info a:hover {
		color: #e0c1a6;
	}
	.warp_img img{
		display: block;
		margin: 76px auto 0 auto;
	}
